#project-jumbo {
	background-image: url(https://images.unsplash.com/photo-1532341606502-e813a67374ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

	background-size: cover;
	background-attachment: fixed;
	background-position: 0px -200px;
}
#plot-jumbo {
	background-image: url(https://images.unsplash.com/photo-1529313780224-1a12b68bed16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);

	background-size: cover;
	background-attachment: fixed;

	background-position: 0px -200px;
}
#plantlist-jumbo {
	background-image: url(https://images.unsplash.com/photo-1518843875459-f738682238a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1326&q=80);

	background-size: cover;
	background-attachment: fixed;
}
#search-jumbo {
	background-image: url(https://images.unsplash.com/photo-1579167728798-a1cf3d595960?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80);

	background-size: cover;
	background-attachment: fixed;
	background-position: 0px -300px;
}
#content-jumbo {
	background-image: url(/static/images/content-jumbo.jpg);

	background-size: cover;
	background-attachment: fixed;
	/* background-position: 0px -300px; */
}
#plantlist-show-jumbo {
	background-image: url(/static/images/plantlist-show-jumbo.jpg);

	background-size: cover;
	background-attachment: fixed;
	background-position: 0px -200px;
}

.text-backdrop-dark {
	padding: 5px;
	padding-left: 10px;
	border-radius: 10px;

	background-color: rgba(0, 0, 0, .75);
}

#table-plant-img {
	height: 100px;
	width: 100px;
}

.content-divider {
	background-image: url(/static/images/content-jumbo.jpg);

	background-size: cover;
	background-attachment: fixed;
	/* background-position: 0px -300px; */
	height: 50px;
}

.plot-design {
	border: cyan 2px dotted;
}
.plot-row {
	height: 50px;
	border: red 1px solid;
}
.plot-col {
	max-width: 50px;
	border: blue 1px solid;
}

.plot-col:hover {
	background-color: gold;
}

.plant-profile-pic {
	width: 100%;
}

.page-item:not(.disabled) {
	cursor: pointer;
	color: lightseagreen;
}
