{% extends 'base.html' %}
{% block content %}
<!-- <img class="image-fluid" src="static/images/homepage-garden.jpg" alt="Photo by Markus Spiske on Unsplash"> -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">What is Plot Planner!</h1>
        <p class="lead">Plot Planner uses pubically available data from trefle.io API </p>
        <hr class="my-4">
        <p>If you would like a brief overview of how this site works, click below.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    <div class="row">
        <div class="col" >
            <div class="card bg-dark text-black">
                <img class="card-img" src="/static/images/homepage-garden.jpg" alt="Card image" >
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card bg-dark text-white">
                <img class="card-img" src="/static/images/homepage-garden.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}