{% extends 'base.html' %}
{% block content %}


<div id="service-down-cont" class="container-fluid p-0">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <div class="jumbotron jumbotron-fluid text-white" style="background-color: transparent;">
                <div class="container text-backdrop-dark text-center">
                    <h1 class="display-4">Plot Planner will be temporarily down.</h1>
                    <hr class="my-4" style="background-color: white;">
                    <p class="lead font-weight-bold">The sole source of data for Plot Planner was the Trefle API, which has stated that they will be permanently offline.<br>This site will be down until a new source of data is found, and changes are made to integrate that data.<br>
                        Sorry for the inconvenience!</p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}