{% from 'macros.html' import img_modal %}
{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-white" id="search-jumbo">
    <div class="container text-backdrop-dark" >
      <h1 class="display-4">Search Plants</h1>
      <p class="lead">Search by common name, species, or family and see what results you get, or use filters to narrow down the one million plants available through the the <a class="text-success" href="https://trefle.io/">trefle.io</a> API. Click the scientific name to see more details about the plant and add it to your Plant Lists!</p>
    </div>
</div>
<div class="container">

<form method="" id="plant-form">
{% include 'base-form.html' %}
<button class="btn btn-success btn-lg btn-block">Get Plants!</button>
</form>


<table id="plant-table" class="table my-3 table-hover">
    <thead>
        <tr>
            <th scope="col">Common Name</th>
            <th scope="col">Scientific Name</th>
            <th scope="col">Family</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody id="plant-table-body">

{% for plant in plant_list %}
    <tr>


        <td>{{plant['common_name']}}</td>
        <td><a href="/plants/{{plant['slug']}}">{{plant['scientific_name']}}</a></td>
        <td>{{plant['family_common_name']}}</td>
        <td>
        <!-- Thumbnail triggers img_modal -->
        <a type="button" data-toggle="modal" data-target="#{{plant['slug']}}-modal">
            <img id="table-plant-img" class="img-thumbnail" src="{% if plant['image_url'] == None %}/static/images/default-pic.png{% else %}{{plant['image_url']}}{% endif %}" alt="{{plant['common_name']}} image">
        </a>
        </td>
        {{img_modal(plant)}}



    </tr>
{% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-between">
<div class="container">
    <p><</p>
    <i class="far fa-arrow-alt-circle-left"></i>
</div>
<div class="container">
    <p class="text-right">></p>
    <i class="far fa-arrow-alt-circle-right"></i>
</div>
</div>




{% endblock %}
{% block code %}
<script src="/static/plantSearch.js"></script>
{% endblock %}
